.intro {
  position: relative;
  color: aliceblue;
  padding-top: 56%;
}



.intro .trailers {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro .banners {
  position: absolute;
  top: max(20%, 70px);
  left: 5%;
  max-width: 70%;
  pointer-events: none;
}



.intro .banners .heading {
  font-size: 60px;
  line-height: 1;
  transition: all 0.3s ease;
  color: white;

  margin: 0;
}

@media screen and (max-width: 800px) {
  .intro .banners .heading {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .intro .banners .heading {
    font-size: 24px;
  }
}

.intro .banners .overview {
  max-width: 550px;
  width: 100%;
  line-height: 1.3;
  padding-top: 1em;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .intro .banners .overview {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .intro .banners .overview {
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
  .intro .banners .overview {
    display: none;
  }
}

.intro .btnVolume {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 10%;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  color: #bbb;
  border: #fff solid 1px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.intro .btnVolume:hover {
  color: #fff;
  transform: scale(1.2);
  background-color: rgba(211, 211, 221, 0.18);
}

@media screen and (max-width: 800px) {
  .intro .btnVolume {
    height: 30px;
    width: 30px;
    padding: 4px;
  }
}

@media screen and (max-width: 600px) {
  .intro .btnVolume {
    height: 20px;
    width: 20px;
    padding: 1px;
  }

}