.error .err {
    color: aliceblue;
    font-size: 36px;
    font-weight: 600;
    align-items: center;
    
}

.error .err h1 {
    color: rgb(248, 6, 6);
    font-size: 40px;
    font-weight: 500;
    align-items: center;
    padding: 0 90px;
}

.error .err p {
    padding: 0 20px;
}

.error .err .home-error {
    font-size: 36px;
    font-weight: 600;
    align-items: center;
    color: rgb(10, 10, 217);
}

