.bookings {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: rgba(228, 217, 59, 0.4) 0px 5px 15px;
}

.bookings .bookings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bookings .bookings-title .bookings-img {
  box-shadow: rgba(228, 217, 59, 0.4) 0px 5px 15px;
  border-radius: 5px;
}

.bookings .bookings-title .bookings-img img {
  border-radius: 10px;
}

.bookings .bookings-title .bookings-name {
  color: aliceblue;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.bookings .bookings-info {
  margin: 10px 0;
  overflow: hidden;
}

.bookings .bookings-info .bookings-item {
  display: flex;
  align-items: flex-start;
}

.bookings .bookings-info .bookings-item h3 {
  font-size: 18px;
  white-space: nowrap;
  width: 32%;
  color: rgb(235, 19, 19);
  margin-right: auto;
}

.bookings .bookings-info .bookings-item p {
  width: 250px;
  font-size: 16px;
  color: rgb(237, 218, 9);
}

.bookings .bookings-info .list {
  height: 80px;
  padding-top: 16px;
}

.bookings .bookings-info .list .bookings-list {
  height: 80px;
  overflow-y: scroll;
  padding-right: 8px;
}

.bookings .bookings-info .list .bookings-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #141313;
}

.bookings .bookings-info .list .bookings-list::-webkit-scrollbar {
  width: 10px;
  background-color: #141313;
}

.bookings .bookings-info .list .bookings-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(234, 230, 230, 0.3);
}

.bookings .bookings-buy {
  border-top: 4px dotted rgb(169, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookings .bookings-buy .buy-ticket {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.bookings .bookings-buy .total {
  margin-bottom: 0;
  color: rgb(12, 227, 29);
}

.bookings .bookings-buy .price {
  color: rgb(233, 165, 16);
  margin: 0;
}

.bookings .bookings-buy .bookings-btn {
  padding: 10px 0;
  width: 80%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #e9880b;
  color: rgb(210, 22, 22);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.bookings .bookings-buy .bookings-btn button:hover {
  background: rgb(204, 201, 197);
}

@media screen and (max-width: 576px) {
  .bookings .bookings-title .bookings-name {
    font-size: 16px;
  }

  .bookings .bookings-info .bookings-item {
    margin-bottom: 10px;
  }

  .bookings .bookings-info .bookings-item h3 {
    font-size: 16px;
    width: 200px;
  }
}