.cinemax {
  max-width: 1000px;
  margin: 100px auto;
  background: white;
  overflow: hidden;
  border-radius: 8px;
}

.cinemax .logo {
  padding: 16px;
  opacity: 0.6;
}

.cinemax .ant-tabs-tab.ant-tabs-tab-active .logo {
  opacity: 1;
}

.cinemax .logo:hover {
  opacity: 1;
}

.cinemax .cinema-system-mobile {
  display: none;
}

.cinemax .cinemax_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 1000px;
  overflow-y: auto;
}

.cinemax .cinemax_box .logoCine {
  height: 100px;
  line-height: 100px;
}

.cinemax .cinemax_box .cine-info {
  text-align: left;
  white-space: normal;
  width: 300px;
  height: 100px;
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
}

.cinemax .cinemax_box .cine-info:hover {
  opacity: 1;
}

.cinemax .ant-tabs-tab.ant-tabs-tab-active .cine-info {
  opacity: 1;
}

.cinemax .ant-tabs-nav-list .ant-tabs-tab:last-child .cine-info {
  border: none !important;
}

.cinemax .cinemax_box .cine-info .cine-name,
.cine-address,
.cine-detail {
  margin-bottom: 0;
}

.cinemax .cinemax_box .cine-info .cine-name {
  color: rgb(198, 9, 9);
  font-size: 16px;
}

.cinemax .cinemax_box .cine-info .cine-name span {
  color: black;
}

.cinemax .cinemax_box .cine-info .cine-address {
  color: rgb(171, 121, 103);
  font-size: 12px;
  font-weight: 400;
  text-shadow: none;
  /* margin: 2px 0; */
}

.cinemax .cinemax_box .cine-info .cine-detail {
  color: cornsilk;
}


.cinemax .cinemax_box::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.cinemax .cinemax_box::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.cinemax .cinemax_box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.cinemax .cinemax_box:hover::-webkit-scrollbar-thumb {
  display: block;
}

.cinemax .cinemax_box .cine-flim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
}

.cinema-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
}

.cinema-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(232, 227, 227);
}

.cinema-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.cinemax .ant-tabs-tab-btn {
  width: 100%;
}

.cinemax .cinemax_box .cine-flim .cine-title {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cinemax .cinemax_box .cine-flim .cine-title h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  color: black;
}

.cinemax .cinemax_box .cine-flim .cine-title h1 .cine-sub {
  position: absolute;
  top: 10px;
  right: 20px;
  background: red;
  line-height: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 4px 5px;
}

.cinemax .cinemax_box .cine-flim .cine-date {
  width: fit-content;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 4px;
  color: green;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
}

.cinemax .cinemax_box .cine-flim .cine-date+.cine-date {
  margin-top: 8px;
}

.cinemax .cinemax_box .cine-flim .cine-date:hover {
  opacity: 1;
}

.ant-tabs-tab {
  margin-top: 0 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ant-tabs-tab:hover {
  color: unset;
}

.ant-tabs-nav-list {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363636 !important;
  font-weight: 500;
}

.ant-tabs-tabpane {
  padding-left: 0 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: red;
  pointer-events: none;
}

.cinema-scroll {
  overflow-y: auto;
  height: 100%;
}

.cinemax .cinemax_box .cine-flim .cine-img {
  height: 40px;
  width: 40px;
}

.cinemax .cinemax_box .cine-flim .cine-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cinemax_box .ant-tabs {
  max-height: 500px;
}

.cinemax_box .ant-tabs-content {
  height: 100%;
}

.cinemax .cinemax_box .cine-info {
  text-align: left;
  white-space: normal;
  width: auto;
  height: 100%;
  overflow-y: hidden;
}

.cinemax_box .cinemax_content>.ant-tabs-nav {
  width: auto !important;
}

.cinemax_box .cinemax_content .ant-tabs-nav {
  width: 50%;
}

.cinemax_box .ant-tabs-nav-more {
  display: none;
}

.cinemax_box .ant-collapse {
  background-color: rgb(18, 17, 17);
}

.cinemax_box .ant-collapse-content {
  background-color: #000;
}

.cinemax .ant-tabs-tab {
  padding: 0 !important;
  max-height: 100px;
}

@media screen and (max-width: 992px) {
  .cinemax {
    max-width: 800px;
  }

  .cinemax .cine-info .cine-name {
    /* margin-top: 10px; */
    font-size: 15px;
  }

  .cinemax .cine-date {
    font-size: 12px !important;
  }


}

@media screen and (max-width: 768px) {
  .cinemax {
    max-width: 550px;
  }


  .cinemax .cinemax_box .cine-info .cine-name {
    font-size: 14px;
    /* margin-top: auto; */
  }

  .cinemax .cinemax_box .cine-flim .cine-img {
    height: 40px;
  }

  .cinemax .cine-flim {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted #000;
  }

  .cinemax .cine-flim .cine-title {
    display: flex;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }

  .cinemax .tab-info .ant-tabs-nav {
    width: 200px;
  }

  .cinemax .tab-info .ant-tabs-nav .cine-info {
    width: 100%;
  }

  .cinemax .tab-info .ant-tabs-nav .cine-info .cine-address {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .cinemax {
    margin: 50px 10px 50px;
  }

  .cinemax .cinemax_box {
    display: none;
  }

  .cinemax .cinema-system-mobile {
    display: block;
    height: auto;
    background: #000;
  }

  .cinema-system-header-mobile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .cinema-system-header-mobile p {
    margin: 0;
    font-size: 20px;
    /* text-transform: uppercase; */
  }

  .cinemax .cinema-system-mobile .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    line-height: 2;
  }

  .cinemax .cinema-system-mobile .cinema-info-mobile .cinema-name-mobile {
    font-size: 16px;
    color: rgb(54, 9, 232);
    margin-bottom: 5px;
  }

  .cinemax .cinema-system-mobile .cinema-info-mobile .cinema-address-mobile {
    margin-bottom: 5px;
    color: rgb(228, 228, 7);
  }

  .cinemax .cinema-system-mobile .cinema-info-mobile .cinema-detail-mobile {
    color: red;
  }

  .cinemax .cinema-system-mobile .name-film-mobile {
    margin-bottom: 5px;
    color: red;
    font-weight: 500;
  }

  .cinemax .cinema-system-mobile .cinema-date-mobile {
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: orange;
    color: #eee;
    font-size: 14px;
    font-weight: 500;
  }
}