.showtime {
  max-width: 1000px;
  margin: 50px auto;
  border: 1px solid rgba(229, 3, 3, 0.1);
  background: #252121;
}

.showtime .showtime-desktop .ant-col {
  line-height: 50px;
  font-size: 16px;
}

.showtime .showtime-desktop .ant-tabs-nav {
  width: 240px;
}

.showtime .showtime-desktop .ant-tabs-nav .showtime-cinema {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.showtime
  .showtime-desktop
  .ant-tabs-nav
  .showtime-cinema
  .showtime-name-cinema {
  font-size: 18px;
  margin-left: 10px;
}

.showtime
  .showtime-desktop
  .ant-tabs-nav
  .showtime-cinema
  .showtime-name-cinema
  p {
  margin-bottom: 0;
}

.showtime .showtime-desktop .ant-tabs-ink-bar {
  position: absolute;
  background: rgb(231, 3, 3);
  pointer-events: none;
}

.showtime .showtime-desktop .ant-tabs-tab.ant-tabs-tab-active,
.ant-tabs-tab-btn {
  color: rgb(45, 17, 227) !important;
  font-weight: 500;
}

.showtime .showtime-desktop .showtime-scroll {
  height: 400px;
  overflow-y: scroll;
}

.showtime .showtime-desktop .showtime-scroll ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(208, 32, 32);
}
.showtime .showtime-desktop .showtime-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(9, 9, 9);
}
.showtime .showtime-desktop .showtime-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.showtime .showtime-desktop .showtime-scroll:hover::-webkit-scrollbar-thumb {
  display: block;
}
.showtime .showtime-desktop .showtime-scroll .showtime-complex {
  padding: 20px 30px 0;
}

.showtime .showtime-desktop .showtime-scroll .showtime-complex .showtime-name {
  color: red;
  font-size: 20px;
}
.showtime .showtime-desktop .showtime-scroll .showtime-complex .showtime-date {
  max-width: 100%;
}

.showtime .showtime-desktop .showtime-scroll .showtime-complex,
.showtime-date button {
  margin: 0 20px 20px 0;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgb(233, 211, 14);
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
}

.showtime .showtime-desktop .showtime-scroll .showtime-complex,
.showtime-date button:hover {
  opacity: 1;
}

.showtime .showtime-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .showtime {
    max-width: 800px;
  }
  .showtime .ant-tabs-nav .showtime-cinema {
    padding: 0;
  }

  .showtime .showtime-scroll::-webkit-scrollbar-thumb {
    display: block;
  }

  .showtime .showtime-scroll .showtime-complex .showtime-name {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .showtime .showtime-scroll .showtime-complex .showtime-date button {
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  .showtime .showtime-desktop {
    display: none;
  }

  .showtime .showtime-mobile {
    display: block;
  }

  .showtime .showtime-mobile .showtime-name-cinema {
    display: flex;
    align-items: center;
  }
  .showtime .showtime-mobile .showtime-name-cinema,
  .showtime-name-cinema-mobile p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #bf0c0c;
  }

  .showtime .showtime-mobile .showtime-scroll-mobile {
    text-align: center;
    padding: 0 16px;
  }
  .showtime .showtime-mobile .showtime-scroll-mobile .showtime-complex-mobile {
    margin: 20px 0;
  }

  .showtime .showtime-mobile .showtime-scroll-mobile .showtime-complex-mobile,
  .showtime-name-mobile {
    font-size: 16px;
    color: rgb(231, 251, 12);
    text-align: left;
    margin-bottom: 20px;
  }
  .showtime .showtime-mobile .showtime-scroll-mobile .showtime-complex-mobile
  .showtime-date-mobile button {
    margin: 0 20px 20px 0;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background: rgb(247, 26, 6);
    color: rgb(15, 14, 14);
    font-size: 14px;
    font-weight: 500;
  }

  .showtime .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    align-items: center;
  }
}
