.users {
  margin-top: 64px;
}

.users .users-main {
  display: flex;
}

.users .users-main .users-info {
  width: 300px;
  background: rgb(58, 51, 51);
  text-align: center;
  color: #ccc;
  padding: 20px;
}

.users .users-main .users-info .users-photo {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: 0 auto;
  background: rgb(242, 82, 8);
  color: rgb(37, 29, 29);
  border-radius: 20%;
  font-size: 100px;
  font-weight: 500;
}

.users .users-main .users-info .users-name {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(216, 21, 21);
}

.users .users-main .users-info .users-type {
  font-size: 20px;
  font-weight: 500;
}

.users .users-main .users-info .user-info-booking {
  margin-top: 200px;
}

.users .users-main .users-show {
  width: 100%;
  overflow: hidden;
  margin: 20px 50px;
}

@media screen and (max-width: 992px) {
  .users-main .users-info {
    width: 150px !important;
    height: auto !important;
  }

  .users-main .users-info .users-photo {
    width: 100px !important;
    height: 100px !important;
    line-height: 100px !important;
    font-size: 50px !important;
  }

  .users-main .users-info .users-name {
    margin-top: 10px !important;
    font-size: 18px !important;
  }

  .users-main .users-info .users-type {
    font-size: 12px !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  .users-main .users-info {
    width: 100px !important;
    height: auto !important;
    background: #eee;
    text-align: center;
    box-shadow: rgba(255, 251, 251, 0.35) 0px 5px 15px;
    padding: 20px;
  }

  .users-main .users-info .users-photo {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 20px !important;
  }

  .users-main .users-info .users-name {
    margin-top: 5px !important;
    font-size: 12px !important;
    font-weight: 500;
  }

  .users-main .users-info .users-info-booking {
    margin-top: 200px;
  }
}