.Header {
  background: black;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 999;

  @media (max-width: 992px) {
    & {
      padding: 0 16px;
      background: #101010;
    }
  }
}

.Footer {
  background-color: black; //rgb(14, 14, 20);
}

.Content {
  background-color: rgb(29 29 29);
}

.ant-layout-footer {
  padding: 24px 20px !important;
}